{% extends "base.html" %}
{% block title %}Passman{% endblock %}
{% block content %}
    <h1>Password Database</h1>
    <div class="data-manipulation-area">
        <form action="/logout">
            <input type="submit" value="Logout" />
        </form>
        <button onclick="onAddButtonClick()">New Data</button>
        <button onclick="onEditButtonClick()">Edit Existing Data</button>
        <button onclick="DebugAutofill()">Debug autofill form</button>
        <form name="inputForm" action="#">
            <p id="form-action-info">Select your action.</p>
            <fieldset disabled="disabled" id="input-fields">
                
                <p>Platform: </p>
                <p><input type="text" placeholder="" name="platform" id="field_platform"></p>
                <p>Account: </p>
                <p><input type="text" placeholder="" name="account" id="field_account"></p>
                <p>Account Info Type: </p>
                <p><input type="text" placeholder="" name="account_type" id="field_account_type"></p>
                <p>Phone: </p>
                <p><input type="text" placeholder="" name="phone" id="field_phone"></p>
                <p>Password: </p>
                <p><input type="text" placeholder="" name="password" id="field_password"></p>
                <p>Other Encrypted: </p>
                <p><input type="text" placeholder="" name="other_encrypt" id="field_other_encrypt"></p>
                <p>Other Encrypted Type: </p>
                <p><input type="text" placeholder="" name="other_type" id="field_other_type"></p>
                <p>Creation date: </p>
                <p><input type="text" placeholder="" name="created_at" id="field_created_at"></p>
                <p><input type="Submit" value="Apply"></p>
            </fieldset>

        </form>
        
    </div>
    <div class="data-display-area">
        <table class="main-table">
            <tr>
                <th>Data ID</th>
                <th>Platform</th>
                <th>Account</th>
                <th>Account Info type</th>
                <th>Phone</th>
                <th>Password</th>
                <th>Other Encrypted</th>
                <th>Other Encrypted Type</th>
                <th>Creation date</th>
            </tr>
            {% for entry in entries %}
            <tr>
                
                <td>{{entry.id}}</td>
                <td>{{entry.platformName}}</td>
                <td>{{entry.accountTag}}</td>
                <td>{{entry.tagType}}</td>
                <td>{{entry.phone}}</td>
                <td>{{entry.password}}</td>
                <td>{{entry.otherData}}</td>
                <td>{{entry.otherDataType}}</td>
                <td>NotImplem</td>
               
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}